* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER STARTS*/
.nav-item .nav-link:hover {
    color: #000000 !important;
}

.navbar-nav .nav-item .nav-link.active {
    position: relative;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link.active::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: green;
}

/*HEADER END*/

/*CAROUSEL STARTS*/
.carousel-inner .carousel-item img {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

/*CAROUSEL ENDS*/

/*FEATURE STARTS*/
.feature-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.feature-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.feature-card:hover .feature-img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.feature-card:hover .overlay {
    opacity: 1;
}

.overlay h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.overlay h5 {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: lighter;
}