*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: rgb(86, 82, 82);
    padding: 0 10px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.8, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
body{
    /* background-color: rgb(61, 60, 60) ; */
     background-color: rgb(211, 211, 211) ; 
     
}
button{
    border-radius: 50%;
}