*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
     background-color: rgb(86, 82, 82);
    padding: 0 10px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0.8, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h2{
    font-weight: bolder;
}